.AddNote {
  padding-top: 120px;
  display: flex;
}

.AddNote > section {
  flex-basis: 50%;
}

.AddNote > section:first-child {
  margin-right: 1%;
}

.add-meta > input {
  width: 100%;
}

.styled-input {
  font-size: 1rem;
  padding: 21px 15px;
  border-radius: 12px;
  border: none;
  font-weight: 300;
  margin-bottom: 1%;
  font-family: Roboto, sans-serif
}

.add-note-meta > input {
  width: 100%;
  height: 60px;
  margin-bottom: 1%;
}

.add-textarea {
  height: 33vw;
  width: 100%;
  margin-bottom: 1%;
  resize: none;
  border: none!important;
}

.meta-data__box {
  display: flex;
  margin-bottom: 1%;
}

.meta-data__box > input {
  width: 30%;
  height: 60px;
  width: 30%;
}

.add-create-button {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  width: 174px;
  height: 40px;
  float: right;
  background: linear-gradient(
135deg
, #61B15A 0%, #ADCE74 100%);
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 500;
}

.add-create-button > img {
  margin-right: 17px;
}

.add-search {
  display: flex;
  flex-direction: row;
  flex-basis: 88%;
  margin-right: 0.9%;
}

.add-note-search {
  display: flex;
}

.add-note-search__button {
  background: #FFF76A;
  border-radius: 12px;
  width: 60px;
  height: 60px;
}

@media (max-width: 1024px) {
  .AddNote {
    flex-direction: column;
    padding: 0 5%;
  }

  .add-create-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
  }

  .add-meta {
    display: flex;
  }

  .mood-select-wrapper {
    margin-right: 5%;
  }

  .meta-data__box > input {
    margin-right: 2%;
    width: 50%
  }
}

@media (min-width: 320px) and (max-width: 812px) {

  section:nth-child(1) {
    order: 2;
    margin-bottom: 20%;
  }

  section:nth-child(2) {
    flex-basis: auto;
  }

  .add-note-gallery-container {
    overflow: scroll;
    grid-template-rows: 1fr;
    padding: 10% 0;
    height: 50vh;
  }

  .add-meta {
    flex-direction: column;
  }

  .mood-select-wrapper {
    order: 1;
    margin: 0;
  }

  .meta-data__box > input {
    width: 60%;
  }

  .add-textarea {
    height: 30vh;
  }

  .add-create-button {
    position: static;
    width: 100%
  }

  .gallery-img {
    max-width: 100%;
  }
}