.Feed {
  overflow: hidden;
}

@media (max-width: 12450px) {
  .Feed {
    /* width: 1440px; */
    width: 100%;
    background-color: #fdfcf3;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .feed-wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .feed-grid {
    grid-gap: 2% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1024px) {

  .Feed {
    width: 1024px;
    background-color: #fdfcf3;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .feed-wrapper {
    padding-top: 0;    
    padding-left: 80px;
    padding-right: 80px;
  }

  .feed-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 320px) and (max-width: 812px) {

  .Feed {
    width: 100%;
  }

  .feed-grid {
    grid-template-columns: 1fr;
  }

  .feed-wrapper {
    padding: 3em 4% 0 4%;
  }
}