.filter {
  position: absolute;
  width: 594px;
  height: 60px;
  left: 423px;
  top: 36px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.title-field {
  position: relative;
  width: 480px;
  height: 60px;
}

.title-rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  border-radius: 12px;
}

.title-content {
  position: relative;
  width: 52px;
  height: 21px;
  left: 16px;
  top: calc(50% - 21px / 2 + 0.5px);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  color: #acacac;
}

.mood-select-wrapper {
  position: relative;
  margin-right: 2%;
}

.mood__select {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 16px 60px 16px 16px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px top 50%,
  0 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.mood__select > img:hover {
  cursor: pointer
}

.mood-options {
  height: 23vh;
  padding-top: 2%;
  overflow-y: scroll;
  height: 19vh;
  width: 3vw;
  background: white;
  border: 1px solid grey;
}

.mood-select__icon {
  position: absolute;
  left: 16px;
  top: 18px;
  font-size: 24px;
  color: #BDBDBD;
  pointer-events: none;
}

.mood-emoji:hover{
  cursor: pointer;
}

.chevron-down {
  border: none;
  color: white;
  appearance: none;
  background-image: url('./chevron-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.chevron-down::after {
  content: "11";
  height: 5px;
  width: 5px;
}

.chevron-down:hover {
  cursor: pointer;
}

.chevron-img {
  position: absolute;
  left: 20.54%;
  right: 20.54%;
  top: 32.32%;
  bottom: 32.32%;
}

.smile-mouth-open {
  position: absolute;
  left: 18px;  
  top: 20px;
  width: 20px;
  height: 20px;  
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.filter__input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin-right: 14px;
  margin-left: auto;
  padding: 20px 16px 19px;
  background: #FFFFFF;
  border: none;
  border-radius: 12px;
  flex: 1;
  width: 100%;
  max-width: 480px;
}

.filter__input::placeholder {
  color: #ACACAC;
}

@media (max-width: 1439px) {
  .filter__input {
    margin-left: 0;
    max-width: none;
  }
}

@media (max-width: 1024px) {
  .filter__input {
    padding: 10px 16px 11px;
    font-size: 18px;
    line-height: 19px;
  }

  .filter {
    width: 60%;
    left: 6%;
    top: 116px;
  }
}

@media (min-width: 320px) and (max-width: 812px) {
  .filter {
    width: 90%;
  }

  .filter__input {
    margin: 0 4% 0 0;
  }
}